body
{ 
    height: 35rem;
   
    display: grid;
    justify-content: center;
    align-items: center;
}
.caluculator {

    max-inline-size: 22rem;
    border: 2px solid black;
    color: hsl(202, 11%, 29%); 
    border-radius: 8px;
    overflow: hidden;
    box-shadow:0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12); ;
}

.calc-out {

    font-size: 2rem;
    line-height: 50px;
    text-align: end;
    background: hsl(0, 5%, 75%);
    color:hsl(0, 12%, 7%);
    margin: 10px;
    padding-block-start:2 rem ;
    padding-block-end: 0.25rem;
    padding-inline-end: 1.25rem;
}
.calc-keys
{ 
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    color: hsl(202, 11%, 29%); 
}
.calc-key-op
{ 
    background: hsl(208, 25%, 86%);

}
.calc-key
{
    border: none;
    padding-block-start: 0.5rem; 
    padding-block-end: 0.5rem;
    font-size: 1.5rem;
    border-radius: 40%;
    inline-size: 60px;
    margin: 0.25rem;
    block-size: 60px;
  
}
.calc-key-enter
{ 
    grid-column: 4 / 5;
    grid-row: 3 / span 4;
    background: hsl(357, 100%, 72%);
    height: auto;
    border-radius:95px;
}
.calculator__key:active,
.calculator__key:focus {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
  outline: none;
}
#text 
{ 
    text-align: center;
    color: rgb(67, 60, 60);
}
#text:hover::after {
    content: "Huehe 🙂🙂🙂";
  display: block;
  font-size: 10px;
 
  }
  